<script type="text/IMAN">
#======================================
# Copyright Siemens PLM Software Benelux
#
# 07-feb-2007   Erik Navis      0.0  creation
# 02-Oct-2007   J. Mansvelders  0.1  Update for TcEng 2005/2007
# 12-Jun-2009   J. Mansvelders  0.2  Update for usage of level
# 12-Dec-2009   J. Mansvelders  0.3  Update for usage with Item Type
#
#
#====================================

include 'common/basic.isx'

print 'Content-type: text/html' + NL
    + 'Set-Cookie: ' + COOKIE() + NL + NL


szObjectdata=tprod + ':' + level + ':' + itemtype

USER_invoke_user_code_taglist( 7, szObjectdata, NULLTAG, 'dummy_tag', 'xmlisland', 'dummy_count', 'mytaglist' )

print '<xml id="whereusedrep">'
print xmlisland
print '</xml>'

print '<xml id="whereusedconfig">'
print '<document>'
szbomconfig='<level>' + level + '</level>' + NL
            + '<itemtype>' + itemtype + '</itemtype>' + NL
print szbomconfig
print '</document>'
print '</xml>'

</script>

<script type="text/javascript" src="teamcenter/dhtml/common/fei/actions/bnl_report.js"></script>
<script type="text/javascript">
function window.onload()
{
   var whereusedconfig=document.all("whereusedconfig").XMLDocument;
   var node = whereusedconfig.documentElement;
   szLevel = node.firstChild.firstChild.nodeValue;
   szItemType = node.lastChild.firstChild.nodeValue;

   xmldoc=document.all("whereusedrep").XMLDocument;

   if (check_error(xmldoc)) return;

   /* Getting props first here walking once through struc */
   create_whereused_rep(xmldoc, szLevel, szItemType);
}

</script>

