<script type="text/IMAN">
#======================================
# Copyright Siemens PLM Software Benelux
#
# 22-Feb-2010   J. Mansvelders  0.1  Creation
# 16-Sep-2011   J. Mansvelders  0.2  Updated for TC 8.3.*
#
#
#====================================

include 'common/basic.isx'

print 'Content-type: text/html' + NL
    + 'Set-Cookie: ' + COOKIE() + NL + NL


revrule = SinglePreference( 'TC_config_rule_name', 'TC_preference_user', TRUE )

szObjectdata=tprod + ':' + level + ':' + itemtype + ':' + revrule

USER_invoke_user_code_taglist( 16, szObjectdata, NULLTAG, 'dummy_tag', 'xmlisland', 'dummy_count', 'mytaglist' )

print '<xml id="whereusedrep">'
print xmlisland
print '</xml>'

print '<xml id="whereusedconfig">'
print '<document>'
szbomconfig='<itemtype>' + itemtype + '</itemtype>' + NL
            + '<revrule>' + revrule + '</revrule>' + NL
print szbomconfig
print '</document>'
print '</xml>'

</script>

<script type="text/javascript" src="teamcenter/dhtml/common/fei/actions/bnl_report.js"></script>
<script type="text/javascript">
function window.onload()
{
   var whereusedconfig=document.all("whereusedconfig").XMLDocument;
   var node = whereusedconfig.documentElement;
   szItemType = node.firstChild.firstChild.nodeValue;
   szRevRule = node.lastChild.firstChild.nodeValue;

   xmldoc=document.all("whereusedrep").XMLDocument;

   if (check_error(xmldoc)) return;

   /* Getting props first here walking once through struc */
   create_whereused_top_rep(xmldoc, szRevRule, szItemType);
}

</script>

