<script type="text/IMAN">
# =================================================================================================
#
#                            Copyright (c) 2000 Unigraphics Solutions Inc
#                                        All rights reserved
#
# =================================================================================================
#
#     Filename: whereused.html
#     Module  : wrksp
#
#     Handles the display of WorkspaceObjects - mainly folders, items and revisions.
#
# =================================================================================================
# Date         Name                    Description of Change
# 07-Sep-2000  Peter Windle            created
# 08-Sep-2000  Charles Brown           spring clean MES
# 04-Oct-2000  Peter Windle            add watermark
# 17-Oct-2000  Peter Windle            apply menu updates
# 23-Oct-2000  Peter Windle            setup application and object name
# 20-Dec-2000  scott ulrey             rm en
# 01-Mar-2001  scott ulrey             update for opening in new browser
# 01-Mar-2001  scott ulrey             merge out
# 19-Mar-2001  scott ulrey             using HTMLErrorStack()
# 20-Mar-2001  scott ulrey             merge out
# 03-Apr-2001  scott ulrey             fix PR4257789, no whereused on Items
# 05-Apr-2001  scott ulrey             allowing Items for genealogy purposes...
# 19-Apr-2001  Hugh Stewart            call setTreeRendererExpansionArgs
# 17-May-2001  Hugh Stewart            display where used all/configured/top in the title bar
# 14-Dec-2001  scott ulrey             catch flush bug
# 02-Jul-2002  scott ulrey             use default html header
# 21-Sep-2002  scott ulrey             implement whereused precise: PR1188534
# 13-Jan-2004  ulrey                   try with toolbar
# 26-Feb-2004  ulrey                   dont call renderTB anymore
# 04-Mar-2004  ulrey                   rm menu xsl
# 07-Apr-2004  ulrey                   adjust span around menu
# 14-Sep-2004  Radha Kameswari M V     DHTML porting to Mozilla
# 28-Nov-2004  Syed Anwaruddin         added appliaction variable
# 28-Oct-2004  Kranti Chaitanya        drawproptable changed
# 02-Dec-2004  Prasad                  Merge
# 15-Dec-2004  Syed Anwaruddin         Resolve conflicts for p10.0.0.8
# 26-Jan-2005  Charles Brown           change URLs for 4-tier
# 26-Apr-2005  spl                     Edit drawPropTable signature
# 22-Nov-2005  Anuradha Thouta         merge
# 30-Nov-2005  x_sivap                 Pref Cleanup
# 30-Nov-2005  Hemanth                 pref ITK cleanup
# 30-Nov-2005  Hemanth                 merge
# 13-Mar-2006  Kranti Chaitanya        for TcX 2005
# 13-Mar-2006  Kranti Chaitanya        used askImanPreferenceLogical
# 30-Mar-2006  Kranti Chaitanya        for PLM2007
# 31-Mar-2006  Kranti Chaitanya        for PLM2007
# 02-May-2006  x_sivap                 TcX Integ
# $HISTORY$
# =================================================================================================
include 'common/basic.isx'
include 'common/fei/whereused/whereused.isx'
include 'pse/data/bomline.isx'
#include 'data/whereused.isx'

print HTMLDefaultHeader()

print '<html>' + NL

try
    # Fix for PR#6053760
    if argument isa 'ItemRevision' or argument isa 'Item' or argument isa 'BOMLine'
    then
        # all is well
    else
        # unsupported type
        EMH_store_error( 1, 63061 )
        throw ''
    endif

    wupage = '<head>' + NL
    wupage += '<style type="text/css">' + NL
    wupage += 'XML' + NL
    wupage += '{display:none}' + NL
    wupage += 'FORM' + NL
    wupage += '{display:none}' + NL
    wupage += '</style>' + NL

    this_class = Class( argument )
		    if this_class == 'Item'
		    then
		        CFM_item_ask_configured( IMAN_config_rule, argument, 'itemrev', 'how_conned' )
		    elif this_class == 'ItemRevision'
		    then
		        itemrev = argument
		    else
		        # unsupported type
		        EMH_store_error_s1( 1, 63025, this_class )
		        throw ''
		    endif

		    #check for bomview on itemrev

		    if not EXISTS( 'bvr' )
		    then

		        bvr = FindRightBvr( itemrev )

    endif


    # type choices: all, top, precise, or single
    # re-implement these on a hierchical wu clan-menu someday
    # all means single-all (all revs) in the dhtml ui since we have an expandable tree...
    if not EXISTS( 'type' )
    then
        type = 'single'
    endif
    argType = type

    expansionArgs = '?IMAN_file=fei/whereused/whereused.xml&type=' + type
    #application_name = quoteImanText( 'web_whereused_' + type + '_watermark' )

#    if type == 'all'
#    then
#        type = 'single-all'
#        application_name = quoteImanText( 'web_whereused_all_appname' )
#    elif type == 'top'
#    then
#        application_name = quoteImanText( 'web_whereused_top_appname' )
#    elif type == 'precise'
#    then
#        application_name = quoteImanText( 'web_whereused_appname' )
#    else
#        type = 'single'
#        application_name = quoteImanText( 'web_whereused_appname' )
#    endif
	application_name = 'Where used - PSE count'

    # top level only?
    if type == 'top'
    then
        childType = 'WhereUsedTop'
    else
        childType = 'WhereUsed'
    endif

    object_name = argument.object_string

    # call add to History
    addToHistory(argument, 'WhereUsed', argType)

    #<Syed> Added application Variable
    application = imanText('web_app_whereused')

    # load common JavaScript and stylesheets
    include 'common/head.ish'

    # set up the onload initialisation for the menu and tree
    wupage += '
    <script language="javascript">

    function loadWhereUsed()
    {
        var treeNode;
        var imandatatable_elem;
        var browser_name = getBrowserName();

        standardMenuSetup(browser_name);
        applyiMANTransforms();
        setTreeRendererChildTypes( new Array( "' + childType + '" ) );
        setTreeRendererExpansionArgs( \'"webclient/" + row.iman_tag + "' + expansionArgs + '"\' );

        //Added switches to fix home inbox performance issue Ref:PR# 5685030
        var useLHNHomeComp = askImanPreferenceLogical("WEB_use_lhn_home_component");
        var useLHNInboxComp = askImanPreferenceLogical("WEB_use_lhn_inbox_component");

        if ( useLHNHomeComp )
        {
            var homefolder = document.getElementById("homefolderlisting");
            var wsolines = homefolder.getElementsByTagName("lines");

            // List Home Objects
            processLHNObjects(wsolines[0]);
        }

        if ( useLHNInboxComp )
        {
            var inboxfolder = document.getElementById("inboxlisting");
            var tasklines = inboxfolder.getElementsByTagName("lines");

            // Inbox Listing
            processInboxObjects(tasklines[0]);
        }

        var imandt = document.getElementById("imandata");
        var treeList = imandt.getElementsByTagName("lines");
        treeNode=treeList[0];

        //Fix for PR6293037
        //set style to DIV element
        setDivStyle();

        imandatatable_elem = document.getElementById("imandatatable");

        if( flushCheck( "imandatatable" ) )
        {
            //Cancel context menu
            document.onclick = doClickDocument;

            renderInitialTree( treeNode, imandatatable_elem );
        }
        else
        {
            return;
        }
      }

    </script>' + NL

    # cache columns in IMAN_inherited for performance
    columnProps = EMPTYARRAY
    object_type = argument.object_type
    # columnProps = columnPropNames( argument, '' )
	columnProps = columnPropNames( argument, 'WEB_whereused_columns' )
    IMAN_inherited = IMAN_inherited :: 'columnProps'

    # inline the appropriate iMAN data
    wupage += '<xml id="imandata" style="display:none">' + NL

    wupage += '<lines>' + NL

    if bvr != NULLTAG then
      BOM_create_window( 'window' )
      BOM_set_window_top_line_bvr( window, bvr, 'top_bom_line' )

      wupage += WhereUsedBomLines(top_bom_line, IMAN_config_rule)

      BOM_close_window( window )
    else
         wupage += '<message>Chosen Revision or Item has no BomView</message>'+NL
    endif

    wupage += '</lines>' + NL

    wupage += '</xml>' + NL

    wupage += '<xml id="xmlMenuData" src="teamcenter/dhtml/common/intl/' + lang + '/whererefmenu.xml"></xml>' + NL
    wupage += '<xml id="xmlCustomMenuData" src="teamcenter/dhtml/common/intl/' + lang + '/whererefmenu_custom.xml" style="display:none"></xml>' + NL
    wupage += '<xml id="xmlToolBarData" src="teamcenter/dhtml/common/intl/' + lang + '/toolbar.xml" style="display:none"></xml>' + NL

    wupage += '</head>' + NL
    wupage += '<body class="whereused" onLoad="loadWhereUsed()" onResize="setDivStyle()">' + NL

    #toolbar
    include 'common/toolbar.ish'
    wupage += topLogo( DEPLOYED_APP_NAME )
    wupage += toolBarStart()

    # menubar
    wupage += '<span><div id="divMenuToken"></div></span>' + NL
    wupage += '<br></br>' + NL

    print wupage

    # Pop-up menu
    print '<span><div id="popupdiv" class="popupDivStyle"></div></span>' + NL

    # treetable
    include 'common/drawproptable.ish'

    drawPropTable( 'imandatatable', columnProps, '', application_name, '', object_type, DEPLOYED_APP_NAME )

    print toolBarEnd()

    print '<div id=dialogholder></div>'

    include 'common/dialogs/formtemplates.xml'

    print '</body>' + NL

catch error

    print HTMLErrorStack( imanText( 'web_general_whereused_errmsg_title' ) ) + NL

endtry

print '</html>' + NL
